/*Desktop Setting Begin*/
@media screen and (min-width: 728px) {
    

.wrap {
    width: 940px; 
    margin: 0px auto;
    padding-top: 0px;
    background-color: var(--background-color);
}
.hlogo {
    width: 180px; height: 45px;
}
header {
    width: 940px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
    background-color: var(--header-gray-color);
    position: fixed;
}
header h1 {
    text-indent: -999px;
    overflow: hidden;
    width: 180px;
}
header h1 a {
    display: block;
    width: 180px; height: 45px;
    background-image: url(image/logo.jpg);
}
header button.nav-button {
    display: none;
}
header ul {
    margin: 0; padding: 0;
    list-style: none;
    display: flex;
    gap: 10px;
    padding-top: 10px;
}
header ul a {
    color: var(--main-color);
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    display: block;
    width: 140px; height: 30px;
    border-radius: 15px;
    background-color: var(--light-color);
}
header ul a:hover {
    color: var(--black-color);
    background-color: var(--yellow-color);
}
main {
    width: 900px;
    height: 2px;
    margin: 0px auto;
    border-radius: 15px;
    padding-top: 0px;
    padding-left: 0px;
    background: #ffd800;
    /*background-image: url(image/main_desktop.jpg); */
    display: flow-root;
}
main h1 {
    font-size: 90px;
    font-weight: 500;
    line-height: 80px;
    width: 420px;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.20);
}
main p {

}
petstone {
        width: 900px;
        height: 330px;
        margin: 0px auto;
        border-radius: 15px;
        padding-top: 90px;
        padding-left: 40px;
        background-image: url(image/petstone.jpg);
        display: flow-root;
    }
section {
    width: 900px;
    margin: 10px auto;
    margin-top: 20px;
    display: flex;
    gap: 20px;
}
.card {
    width: 300px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.20);;

}
.card__image {
    width: 100%;
    object-fit: contain;
}
.card__image:hover img {
        scale: 1.2;
    }
div.card__info {
    padding: 13px;
}
div.card__info h3 {
    color: var(--main-color);
    font-size: 22px;
    font-weight: 400;
    font-family: var(--main-font);
    margin-bottom: 13px;
}
div.card__info p {
    color: var(--white-color);
    font-size: 12px;
    font-family: var(--secondary-font);
    font-weight: 400;
    line-height: 20px;
}


.ban {
    width: 900px;
    border-radius: 15px;
    overflow: hidden;
    padding-top: 30px;
    /*box-shadow: 0 0 4px rgba(0, 0, 0, 0.20);*/
}

.ban__image {
    width: 100%;
    object-fit: contain;
}


div.ban__info {
    padding-top: 0px;
    padding: 0px;
}

footer {
    color: var(--secondary-color);
    text-align: center;
    font-size: 16px;
    font-family: var(--main-font);
    line-height: 60px;
}

    .red-stone {
        /*CSS 的 Animation 動態語法*/
        animation-name: move-stone; /*動態的名稱*/
        animation-duration: 4s; /*動態播放的時間長度*/
        animation-timing-function: ease-in-out; /*播放的節奏*/
        animation-delay: 0s; /*延遲播放*/
        animation-iteration-count: infinite; /*播放次數*/
        animation-fill-mode: forwards; /*播完之後的狀態*/
        /*以下為上面動態語法的的縮寫*/
        /*animation: move-ball 5s ease-in 0s infinite alternate;*/
        height: 4px;
    }

    @keyframes move-stone {
        0% {
            transform: scale(1.5) translate(0px, 0px) rotate(0deg);
        }
        20% {
            transform: scale(1.2) translate(100px,220px) rotate(90deg);
        }
        40% {
            transform: scale(1.4) translate(160px,100px) rotate(180deg);
        }
        60% {
            transform: scale(1.2) translate(220px,220px) rotate(270deg);
        }
        100% {
            transform: scale(1) translate(820px,220px) rotate(720deg);
        }
    }


}/*Desktop Setting End*/