/*Mobile Setting Begin*/
@media screen and (max-width: 727px) {

/*    img {
        width: 100%;
    }
*/
    .wrap {
        width: 100%;
        margin: 0px auto;
        padding: 0px 10px;
        background-color: var(--black-color);
    }
    .hlogo {
        width: 180px;
        height: 41px;
    }
    header {
        width: 97%;
        margin: 0px auto;
        /*display: flex;*/
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 0px;
        background-color: var(--header-gray-color);
        position: fixed;
        /*padding-right: 10px*/
    }
    header h1 {
        text-indent: -999px;
        overflow: hidden;
        width: 180px;
    }

    header button.nav-button {
        position: absolute;
        top: 10px;
        right: 10px;
        background: var(--header-gray-color);
        border: 0;
        cursor: pointer;
    }
    header h1 a {
        display: block;
        width: 180px; height: 45px;
        background-image: url(image/logo.jpg);
    }
    header ul {
        margin: 10; padding: 10;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-top: 10px;
    }
    .hide {
        display: none;
    }
    header ul a {
        color: var(--main-color);
        text-decoration: none;
        text-align: center;
        font-weight: bold;
        line-height: 46px;
        display: block;
        width: 95%; height: 46px;
        border-radius: 10px;
        background-color: var(--light-color);
    }
        header ul a:hover {
            color: var(--white-color);
            background-color: var(--yellow-color);
        }
    main {
        width: 100%;
        height: 2px;
        margin: 0px auto;
        border-radius: 15px;
        padding-top: 0px;
        padding-left: 0px;
        /*
        background-image: url(image/main_mobile.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        */
        /*background-position-x: -135px;*/
        display: flow-root;
    }
    main h1 {
        font-size: 65px;
        font-weight: 400;
        line-height: 57px;
        width: 420px;
        text-shadow: 0 0 4px rgba(0, 0, 0, 0.20);
        margin-bottom: 20px;
    }
    main p {
        color: var(--gray-color);
        font-size: 18px;
        font-family: var(--secondary-font);
        line-height: 27px;
        text-indent: 0px;
        padding-left: 6px;
    }
    petstone {
        width: 100%;
        height: 300px;
        margin: 0px auto;
        background-image: url(image/petstone_p.jpg);
        background-size: cover;
        display: flow-root;
    }
    section {
        width: 100%;
        margin: 10px auto;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .card {
        width: 100%;
        border-radius: 15px;
        overflow: hidden;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.20);
    }
    .card img {
        width: 100%;
    }

    .card__image {
        width: 100%;
        object-fit: contain;
    }
    .card__image:hover img {
            scale: 0.8;
    }
    div.card__info {
        padding: 13px;
    }
    div.card__info h3 {
        color: var(--main-color);
        font-size: 22px;
        font-weight: 400;
        font-family: var(--main-font);
        margin-bottom: 13px;
    }
    div.card__info p {
        color: var(--third-color);
        font-size: 15px;
        font-family: var(--secondary-font);
        font-weight: 400;
        line-height: 20px;
    }
    .ban {
        width: 100%;
        border-radius: 15px;
        overflow: hidden;
        padding-top: 30px;
        /*box-shadow: 0 0 4px rgba(0, 0, 0, 0.20);*/
    }
/*
    .ban img {
        width: 100%;
    }
*/
    .ban__image {
        width: 100%;
        object-fit: contain;
    }
    .ban__image img {
        width: 100%;
    }
    div.ban__info {
        padding-top: 0px;
        padding: 0px;
    }
    footer {
        color: var(--secondary-color);
        text-align: center;
        font-size: 16px;
        font-family: var(--main-font);
        line-height: 150%;
    }
    footer span {
        display: block;
    }
    .red-stone {
        /*CSS 的 Animation 動態語法*/
        animation-name: move-stone; /*動態的名稱*/
        animation-duration: 4s; /*動態播放的時間長度*/
        animation-timing-function: ease-in-out; /*播放的節奏*/
        animation-delay: 0s; /*延遲播放*/
        animation-iteration-count: infinite; /*播放次數*/
        animation-fill-mode: forwards; /*播完之後的狀態*/
        /*以下為上面動態語法的的縮寫*/
        /*animation: move-ball 5s ease-in 0s infinite alternate;*/
        height: 4px;
    }

    @keyframes move-stone {
        0% {
            transform: scale(1.5) translate(0px, 0px) rotate(60deg);
        }
        20% {
            transform: scale(1.2) translate(100px,220px) ;
        }
        40% {
            transform: scale(1.4) translate(160px,100px) ;
        }
        60% {
            transform: scale(1.2) translate(220px,220px);
        }
        100% {
            transform: scale(1) translate(820px,220px);
        }
    }


    
    }/*Mobile Setting End*/